<app-header></app-header>
<div class="box">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://img.freepik.com/free-vector/hand-drawn-science-education-background_23-2148499325.jpg?size=626&ext=jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <p class="time">
        <label>Date :&nbsp; </label><span> 13 - 02 - 2022  </span>&nbsp; &nbsp;|&nbsp; &nbsp;
       <span> 08 : 30 : 00 : AM  </span>
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button class="join-btn btn btn-primary">Joins Lecture</button>
    </mat-card-actions>
  </mat-card>

</div>
