<div class="wrapper">
  <div class="logo"> <img src="https://geniegradz.com/static/media/genie.a81f8ed8.png" alt=""> </div>
  <div class="text-center mt-4 name"> Login </div>
  <form class="p-3 mt-3">
    <div class="form-field d-flex align-items-center"><i class="fas fa-user"></i> <input type="text" name="userName" id="userName" placeholder="Username"> </div>
    <div class="form-field d-flex align-items-center"><i class="fas fa-lock"></i><input type="password" name="password" id="pwd" placeholder="Password"> </div>
    <button class="btn mt-3">Login</button>
  </form>
  <div class="text-center fs-6">New User ? <a href="#">Sign up</a> </div>
</div>
